# Auto detect text files and perform LF normalization
* text=auto
*.toml -text
*.json -text
*.bak -text
*.txt -text
*.cfg -text
*.properties -text
*.js -text
*.snbt -text
*.md -text
*.ini -text
*.backup0 -text